In [1]:
#Loop through and print out all even numbers, skip numbers higher than 500

numbers = [95,951, 400, 403, 498, 304,22, 446, 424, 998,123, 455, 12, 3, 54, 567, 89,800, 700,753, 734,124, 223,345,456,789,56,983,43,55,12,33,534]
for n in numbers:
    if n%2==0 and n<=500:
        print(n)

400
498
304
22
446
424
12
54
124
456
56
12

In [5]:
# A.
#1 Create two numeric variables named X and Y.
#2. Print the word “BIG” if the value of X is bigger than Y.
#3. Print the word “small” if the value of X is smaller than Y.

X = int(input('Enter value for X:'))
Y = int(input('Enter value for Y:'))
if X>=Y:
    print('BIG')
else:
    print('small')

Enter value for X:33
Enter value for Y:3
BIG

In [6]:
# B.
#1. Run a “for” loop 5 times.
#2. Print the iteration number every time.

for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
# C.
#1. Create a variable and initialize it with a number 1-4.
#2. Create 4 conditions (if-elif) which will check the variable value.
#3. Print a different season name for each number:

season = int(input("Enter the value for season between 1-4:"))
if season == 1:
    print('Winter')
elif season == 2:
    print('Summer')
elif season == 3:
    print('Spring')
elif season == 4:
    print('Fall')
else: print("Incorrect season value, please try again")

Enter the value for season between 1-4:3
Spring

In [12]:
#D.
#1. How many times will the following loop run?
#2. What will be printed last?
count = 1
while count<11:
    print(count)
    count = count+1

1
2
3
4
5
6
7
8
9
10

In [13]:
#E.
##Write a program with variables holding the following:
#1. Your age.
#2. First letter of your last name.
#3. Current shekels-dollar currency.
#4. Did you flew abroad (true/false)
#5. Your apartment number.
#● Print all variables.
#● Add the currency(3) to your age(1), and check the result.

Age = 35
Surname_Letter = 'M'
Currency = 2000
Abroad = True
Apartment = 302
print(Age, Surname_Letter, Currency, Abroad, Apartment)
print(Currency+Age)

35 M 2000 True 302
2035

In [14]:
#F.
#Create a program which uses input with the following:
#1. Ask user for his phone number
#2. Print the words “phone number” and the phone number the user entered.

phone_number = int(input('Enter your phone number:'))
print(f'phone number {phone_number}')

Enter your phone number:9886910908
phone number 9886910908

In [15]:
#G.
#Write a program with the following:
#1. Function named printHello() that prints the word “hello”.
#2. Function named calculate() which adds 5+3.2 and prints the result.

def printHello():
    print('hello')
    
def calculate():
    print(5+3.2)
    
printHello()
calculate()

hello
8.2

In [19]:
#H.
#Write a program with the following:

#1. Function that receive a name as an argument and prints it.
#2. Function that receive a number, divide it by 2, and prints the result.

def name(name):
    print(name)

def number(number):
    print(number/2)

name('Samarth')
number(34)

Samarth
17.0

In [3]:
#I.
#Write a program with the following:
#1. Function that receive two numbers, add them, and return the sum.
#2. Function that receive two Strings, add space between them, and return one spaced string.

def add_numbers(x,y):
    return x+y

def string(s1,s2):
    return s1+' '+s2

sum_ = add_numbers(5,8)
name = string('samarth','magotra')
print(sum_, name)

13 samarth magotra

In [4]:
#J.
#Create a program with the following:
#1. Create a list with 3 numbers
#2. Iterate through the list to print all elements.
lst = [4,5,6]
for i in lst:
    print(i)

4
5
6

In [11]:
#K.
#Create a program which will get a list of numbers and prints the sum of all items.

def sum_of_list(lst: list) -> int:
    print(lst)
    total = 0
    for i in lst:
        total = total + int(i)
        
    return total

sum_of_list([3,4,5,6,7,8])

[3, 4, 5, 6, 7, 8]

33

In [22]:
#L.
#Write a Python program to iterate over dictionaries and prints all keys using for loop.

def itr_over_dict(dictionary: dict):
    for key,value in dictionary.items():
        print(key,value)
    
itr_over_dict({
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
})
itr_over_dict({'1':'abc', '2':'fng', '10':'ff', 'a':'gh'})

brand Ford
model Mustang
year 1964
1 abc
2 fng
10 ff
a gh

In [28]:
#Create a nested for loop (loop inside another loop) to create a pyramid shape:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [34]:
#O.
#Write a program with the following:
#1. Function that gets a number from the user (using input).
#2. Function that receive the number from the first method, and computes the sum of the
#digits the integer (e.g. 25 = 7, 2+5=7)

def user_input():
    number = input('Enter the number:')
    return number 
    
def compute_sum():
    number = user_input()
    s = 0
    for i in number:
        s = s+int(i)
    return s
        
compute_sum()

Enter the number:67

13

In [38]:
#P.
#Write a Python program to convert the below tuple to a string:
#tup = (‘h’, ‘e’, ‘l’, ‘l’, ‘o’)

def tup_to_string(tup: tuple) -> str:
    return ''.join(tup)

tup_to_string(('h','e','l','l','o'))
#type(tup_to_string(('h','e','l','l','o')))

'hello'

In [46]:
#Q: Write a Python program to get the smallest number from a list.

def smallest_in_list(lst: list):
    lst.sort()
    return lst[0]
        
smallest_in_list([3,4,6,11,2])

2